<div id="contact" class="container-fluid">
	<!-- <div id="map" #map></div> -->
	<div class="jumbotron text-center">
		<h3>
			Address
		</h3>
		<div class="col-sm address"> <p> </p>
			 <p><b class="company-name">Euro Konkrete Building Dynamics L.L.C.</b></p> 
			<p class="hidden-sm">Unit 501 Level 5, ARENCO Building No. 4, Dubai Investment Park 1,</p>
			<p class="hidden-sm">Dubai, United Arab Emirates. P.O. Box: 474495</p>
			<p class="hidden-md hidden-lg text-align-justify">Unit 501 Level 5, ARENCO Building No. 4, Dubai Investment Park 1, Dubai, United Arab Emirates. P.O. Box: 474495</p>
			<p><i class="fa fa-phone-square" aria-hidden="true"></i>Tel: <a href="tel:+971-4887-7023">+971-4887-7023</a></p>
			<p><i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>Mob: <a href="tel:+971-50-777-3102">+971-50-777-3102</a></p>
			<p><i class="fa fa-envelope" aria-hidden="true"></i>Email : <a href="mailto:sales@eurokonkrete.com?Subject=Sales%20Enquiry">sales@eurokonkrete.com</a></p>
		</div>
	</div>
</div>