<div id="pudlocwp" class="page-content" data-bs-spy="scroll" data-bs-target="#spy-navbar2">

    <div class="w-100">
        <div class="row top-image" style="background-image: url('../../../assets/images/home/slide-2.jpg');height:300px;margin-left:-2px;background-size: cover;" >
            <hr class="new5" style="margin-left:50px;margin-top:170px;" >
            <h1 class="page-head-text"> Product</h1>
        </div>  
    </div>      
  
  
  <!--------------------------------------------------------------------------------------->
    <section id="about" class="content-section"  >
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" >
                    <h1><em >WHAT IS PUDLO CWP
                    </em></h1>
                </div>
                <div class="col-md-12">
                    <p>PUDLO CWP is a hydrophobic and pore-blocking admixture. A dual-purpose, multi-component, cementitious powdered admixture providing outstanding durability and waterproofing properties to all concrete mixes. It also enhances plasticising and corrosion-inhibiting benefits.  Pudlo CWP conforms to BS EN 934-2 as water resisting admixture. </p>
                    <p>PUDLO CWP outperforms any other admixture of its kind in both durability and impermeability. Where long term durability is critical and / or exposure to aggressive environments is present, PUDLO CWP provides significant and cost effective solutions when added to the concrete mix. </p>
                    <br/>
                </div>
            </div>
            <div class="column2">
                <div class="card2 ">
                    <h4>Sustainable materials for the built environment</h4>
                    <p>PUDLO CWP is a powdered, non-toxic, odourless admixture which makes concrete completely waterproof. It also increases concrete’s strength, provides resistance to corrosion, significantly improves workability, and reduces shrinkage and wetting expansion. </p>
                    <p>All known corrosive effects on concrete are moisture-driven. PUDLO CWP waterproofs concrete and therefore increases its durability by reducing the number and size of capillary pores, inhibiting transport mechanisms for water and water-borne chemicals. PUDLO CWP treated concrete is also acid resistant.
                    </p>
                    <br> 
                </div>
            </div>
            <div class="column2">
                <div class="card2">
                    <h4>Engineering materials are our business</h4>
                    <p>Capillary restriction: PUDLO CWP treated concrete has a distinct microstructure characterised by discontinuous pore formation and an overall reduction in the size of the capillary pore network.</p>
                    <p>Capillary blocking: In addition to altering the microstructure, PUDLO CWP contains hydrophobic pore-blocking compounds. These permanently seal remaining voids in the concrete to further increase structural durability, providing an additional level of protection against water migration and corrosive attack.</p>
                    <br> 
                </div>
            </div>
        </div>
    </section>
    <hr/>
      
  <!------------------------------------------------------------------------------------------------------------------>
    <section id="performance" class="content-section" >
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" >
                    <h1><em >PRODUCT PERFORMANCE </em></h1>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Durability</h3>
                        <p>Durability is the ability of concrete to resist weathering action, chemical attack, and abrasion while maintaining its desired engineering properties. Different concretes require different degrees of durability depending on the exposure environment and the properties desired.  Concrete ingredients, the proportioning, performance, placing and curing practices, and the service environment determine the ultimate durability and life of the concrete.</p>
                        <p>The use of PUDLO CWP causes the reduction of water ingress within concrete
                            through flow under pressure as well as absorption.
                            </p>
                        <p>The impermeability (waterproofing) is the single most important performance
                        characteristic with respect to preventing the ingress of the aggressive substances
                        within the concrete, and thus the biggest influence on long term durability.
                        The benefits of using PUDLO CWP modified concrete thereof are discussed in more detail below
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Permeability</h3>
                        <p>Permeability is a flow property of concrete which quantitatively characterizes the ease by which a fluid will pass through it, under a pressure differential.</p>
                        <p>Capillary pore size and pore interconnections are important factors affecting permeability of concrete. Pudlo modified durable concrete exhibits reduced capillary pore size and increase the tortuosity of pore networks by densifying the microstructure and physically blocking the pores to reduce the movement of moisture due to hydrostatic pressure.</p>
                        <p>The reduction in permeability and the associated decrease in the rate of the ingress of the aggressive substances within concrete is one of the most important attributes in relation to enhancement of the durability of concrete (Hewlett, 1998).</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Absorption</h3>
                        <p>Absorption is a process by which concrete takes in water by capillary action. Factors
                        affecting absorption are moisture gradient, capillary pore size and pore interconnection.</p>
                        <p>The hydrophobic properties of Pudlo significantly reduce the capillary suction. Thus concrete treated by Pudlo has very low water absorption values.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Diffusion & Chloride Induced Corrosion</h3>
                        <p>Diffusion and Chloride Induced Corrosion is a process by which water, vapour gas or ions can pass through concrete under the action of a concentration gradient. This, in the case of for example chloride ions can cause corrosion of the reinforcing steel.
                        </p>
                        <p>Pudlo modified durable concrete effectively protects the steel reinforcement from corrosion induced by both chloride ingression and carbonation process by reducing the diffusion rate of the aggressive substances by modifying the pore structure of the hardened concrete.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Sulphate Attack</h3>
                        <p>Sulphate attack is characterized by the chemical reaction between sulphate ions from the ground water with aluminate and calcium component of hardened Portland cement. The reaction leads to the formation of expansive gypsum and etringite. This causes expansion leading to cracking, allows further ingress of sulphate and accelerates the degradation process.</p>
                        <p>By enhancing the permeation properties, Pudlo makes concrete water resistant, therefore Pudlo treated concrete is more resistant to sulphate attack.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h3>Pudlo to resist Corrosion</h3>
                        <p>The unique properties of Pudlo densify the cement paste by reducing the porosity and pore sizes. This enhanced microstructure reduces the permeability and diffusion properties of Pudlo modified concrete making into a high performance and durable concrete. It also significantly reduces the absorption of concrete by providing hydrophobic lining along the pore walls, thus reducing capillary suction of pores.</p>
                        <p>By enhancing the permeation properties such as reducing the permeability, absorption and diffusion into concrete, Pudlo CWP makes the concrete considerably more water resistant with a fivefold reduction in permeability relative to the control concrete. Such attributes are key factors for minimising steel corrosion, providing greater chloride and sulphate resistance and thus a more durable concrete.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
  
  <!------------------------------------------------------------------------>
    <section class="content-section" id="microscopeimaging" style="margin-top:35px;" >
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" >

                    <h1><em >MICROSCOPE IMAGING </em></h1>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">  <img src="../../../assets/images/product1.jpg" alt="Responsive image" width="100%" > </div>
                    <div class="col-md-6">  <img src="../../../assets/images/product2.jpg" alt="Responsive image" width="100%" > </div><br>
                    <div style="justify-content: center;text-align: center;">  <p><b> <br>Microslides showing the reduction in the capillary pour water transport mechanisms as a result of PUDLO CWP. Red spaces denote voids.</b> </p></div>
                </div>
                <div class="col-md-12"><br>
                    <p>The control concrete used for testing has a water/cement ratio of 0.45. Even before the addition of PUDLO CWP, this control concrete is already more water resistant than some concretes modified with competing admixtures. The addition of PUDLO CWP to the control mix results in a five-fold reduction in the water permeability characteristics of an already high quality control concrete.</p>
                    <p>  Microstructural examination carried out by Imperial College revealed that PUDLO CWP has a distinct microstructure resulting in a discontinuous pore structure with an order of magnitude reduction in the capillary pore network. The Imperial College’s findings are supported by scientific evaluations of PUDLO CWP properties by a wide range of independent organizations including: </p>  
                </div>
            </div>
            <div class="col-md-12">
                <div class="box-video">
                    <div class="bg-video" >
                        <div class="bt-play"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
      
  <!--------------------------------------------------------------------------------------->
    <section  id="applications" class="content-section" >
        <div class="row">
            <div class="section-heading" >
                <h1><em >	APPLICATIONS </em></h1>
            </div>
            <div class="column1">
                <div class="card1">
                <h4>Underground Structures</h4>
                
                </div>
            </div>
            <div class="column1">
                <div class="card1">
                    <h4>Shotcrete</h4>
                </div>
                </div>
                <div class="column1">
                <div class="card1">
                    <h4>Marine Structures</h4>
                    
                </div>
                </div>
            
                <div class="column1">
                <div class="card1">
                    <h4>Foundation Structures</h4>
                    
                </div>
                </div><div class="column1">
                <div class="card1">
                    <h4>Sewage Treatment</h4>
                </div>
                </div>
                <div class="column1">
                <div class="card1">
                    <h4>Durable Structures</h4>
                </div>
                </div>
                <div class="column1">
                <div class="card1">
                    <h4>Cement Rendering</h4>
                </div>
                </div>
            <div class="column1">
                <div class="card1">
                <h4>Water Retention</h4>
                </div>
            </div>
            <div class="column1">
                <div class="card1">
                    <h4>Environmental Exposure</h4>
                    
                </div>
                </div>
            <div class="column1">
                <div class="card1">
                <h4>Service excellence</h4>
                </div>
            </div>
        </div>
    </section>
    <br><br><hr>
  <!-------------------------------------------------------------------------------------->
  <section id="downloads" class="" >
      <div class="section-heading">
          <h1><em>DOWNLOADS</em> </h1>
      </div>
      <div class="accent-button button" style="text-align: center;" >
            <a href="http://nebula.wsimg.com/fb176894067a23934e18aa58b6b9d2ec?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" > PME Product </a>
      
            <a href="http://nebula.wsimg.com/aae3b369e9d800df39e0f0c6ec00db5d?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" > PME MSDS</a>
      
            <a href="http://nebula.wsimg.com/eaca6af85e70528416ce28698e952d97?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" >BBA Certificate  </a>
      
            <a href="http://nebula.wsimg.com/4d76f89a77a6cc24f408695e4e51b097?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" >ISO 9001 Certificate </a><br><br>

            <a href="http://nebula.wsimg.com/c2bb8e624439dd0f3f5b75d62c86c7e9?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" >WRAS Certificate</a>
      
            <a href="http://nebula.wsimg.com/537a384a32455b8766c36ef8d98a19a3?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" >CE Mark Certificate</a>
              
            <a href="http://nebula.wsimg.com/df8453cd3a279bed3266b6e5f5b3df35?AccessKeyId=A5C4A86BE527E5C5CB0C&disposition=0&alloworigin=1" target="_blank" >ISO 14001 Certificate</a>
      
      </div>
  </section> 
</div>