.navbar.navbar-light {
  background: $nav-background;
  display: flex;
  a {
    font-size: 18px;
  }

  
  .navbar-toggler{
    border: none;
    outline: none !important;
    padding: 0;
    span{
      font-size: 24px;
    }
  }

  .navbar-brand {
    transition: all 0.5s;
    font-weight: 600;
    padding-top: 0;
    letter-spacing: 2.2px;
    font-family: 'Lobster', cursive;
    color: $brand-color !important;
    font-size: 26px;
    span,
    img{
      vertical-align: middle !important;
    }
    span{
      margin-left: 1rem;
    }
  }

  .nav-link {
    color: $link !important;
    margin: 0 10px 0 0;
    display: inline-block;
    cursor: pointer;
    padding: 8px 14px;
  }
  
  .nav-link:focus,
  .nav-link:hover,
  .nav-link.active {
    color: $state-active !important;
  }

  .nav-link:hover::after {
      width: 100%;
  }

}

.footer{
  min-height: 44px;
  height: auto;
  // background-color: #272727 !important;
  text-align: center !important;
  p{
    font-size: 12px !important;
    margin: 0 auto;
    a{
      font-size: 12px !important;
      text-decoration: underline;
      color: $base;
    }
  }
}

ul.ml-auto {
  margin: 8px;
}

.dropdown-menu{
  padding: 0px;
  left: -50px;
  background-color: $white;
  background-clip: unset;
  a{
    color: $black;
    background-color: $white;
    &:first-child{  
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    &:last-child{  
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    &:hover{
      color: $white !important;
      background-color: $link !important;
    }
  }
  // a:first-child{
  //   border-right: 1px solid $white;
  // }
}

.dropdown-menu::before{
  display: inline-block;
  position: absolute;
  margin-left: 0.255em;
  top: -6px;
  left: 45%;
  vertical-align: 0.255em;
  content: "";
  color: #fff;
  border-top: 0;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid;
  border-left: 0.4em solid transparent;
}

.dropdown-toggle::after{
  color: $white;
  margin-right: 14px;
  margin-left: -22px;
  vertical-align: 0.1em;
}

.dropdown-menu.show{
  top: 2.3em;
  display: inline-flex;
}