<div id="about">
    <div class="page-content">

        <div class="w-100">
            <div class="row"style="background-image: url('img/Slide3.jpg');height:300px;" >
                <hr class="new5" style="margin-left:50px;margin-top:170px;" >
                <h1 class="page-head-text">About Us</h1>
            </div>
        </div>    
    <section id="top"  class="content-section" >
        <div class="row" id="about"> 
            <div class="col-md-12">
                <div class="col-md-5" ><img src="img/about.jpg" class="img-fluid" alt="Responsive image" style="width:80%;margin-left: 10%;"/></div>
               
                <div class="col-md-7" >
                    
                    <div class="section-heading" >
                      
                        <h1><em style="font-family:'Poppins';">HISTORY</em></h1>
                        
                    </div>
                    <div class="mt-4" >
                    <p><b>PUDLO – Part of a Quality Driven Heritage</b></p>
                    <p><b>PUDLO waterproof systems is part of David Ball Group, a leading specialist in high quality sands and cementitious materials for industry, quality testing and construction. </b></p>
                    <p>Founding business, David Ball Specialist Sands, is a global market leader in ultra-high quality British Standard Reference and industrial process sands, exported worldwide for over 45 years. David Ball Group <b>PS Range </b>manufactures waterproof coatings and sealants to complement the PUDLO integral waterproofing system and for other concrete applications. </p>
                    </div>
                </div>    
            </div>
    
            <div class="col-md-12" style="margin-top: 30px;">
                <div class="row text-center" >
                    <h3><b>The PUDLO ethos are:</b></h3>
                </div>
    
                <div class="row text-center">
                    <div class="column">
                        <div class="">
                        <h3><i class="fa fa-circle" aria-hidden="true"></i> Service excellence</h3>
                        
                        </div>
                    </div>
                    
                    <div class="column">
                        <div class="">
                        <h3><i class="fa fa-circle" aria-hidden="true"></i> Materials quality</h3>
                        
                        </div>
                    </div>
                    
                    <div class="column">
                        <div class="">
                        <h3><i class="fa fa-circle" aria-hidden="true"></i> Technical innovation</h3>
                        
                        </div>
                    </div>
                </div>        
            </div>
                
            <div class="col-md-12" style="margin-top: 30px;">
                <p>Pioneering since its first commercial use in the 1870s, <b>PUDLO’s</b> unique chemistry has been sustaining iconic landmarks, as well as hospitals, hotels and homes, in corrosion-free condition for decades. </p>   
                <p>The modern business invests heavily in R&D and quality management at our state-of-the-art production centre in Cambridge. Materials quality is backed by our comprehensive engagement in every project and every concrete element relying on PUDLO, from design consultation to site inspection.</p>
            <q style="font-size: 18px;"><b>Wherever concrete is at the cutting edge, PUDLO is at the heart of it – tall buildings, record-breaking fountains and riverside basements, green roofs, high temperature waste reactors and tsunami research facilities.</b></q>
            <p>As the world’s most advanced and robustly assured system of intrinsically waterproof concrete, PUDLO continues to evolve and facilitate the engineering vision of 21st century construction.</p>
            </div>
            
        <div class="separator">
            <svg class="separator__svg" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg" >
               <path d="M 100 100 V 10 L 0 100"/>
               <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>
              </svg>
              <div style="height:30px; background: linear-gradient(#44A36F, white);margin-top:-6px;">
              </div>
          </div> </div>
    </section>
    
    <!--------------------------------------------------------------------------------------->
    <section id="pudlo"  class="content-section" >
        
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading" >
                   
                    <h1><em >PUDLO MIDDLE EAST (PME)</em></h1>
                   
                </div>
                <div class="col-md-12">
                    <p><b><b>PUDLO’s</b></b> existence in the Middle East has been established more than 15 years ago.  Since then, <b>PUDLO</b> has been embraced by those who look for quality and performance. <b>PUDLO</b> added concrete has been used in more than 100 years in projects of various sizes and has been a trusted waterproof admixture by both international and local consultants, large and multi-national contractors, Readymix companies and even major clients and developers.</p>
                    <p>In order to maintain our quality and highly recognized brand name in the Middle East, we have setup and managed our first Middle East branch office and a warehouse with full capacity of 70,000 bags located in Dubai Investment Park.  Hence, fast delivery throughout the Middle East is ensured and guaranteed. Our presence is further strengthened by the existence of its technical team, ready to provide technical expert advice and assistance at all times. </p>
                    <p>Founding business, David Ball Specialist Sands, is a global market leader in ultra-high quality British Standard Reference and industrial process sands, exported worldwide for over 45 years. David Ball Group <b>PS Range </b>manufactures waterproof coatings and sealants to complement the <b>PUDLO</b> integral waterproofing system and for other concrete applications. </p>
                    <p>As well as all of this, you can expect to receive first class service because your satisfaction is always <b>PUDLO’s</b> ultimate objective.</p>
                    <p>Dubai Fountain, one of our prestigious projects, exhibits the performance and the reliability of <b>PUDLO</b>.</p>   
                    
                    </div>
                <div class="accent-button button" >
                  </div>
               </div>
                <div class="col-md-12">
                    <div class="box-video">
                        <div class="bg-video" >
                            <div class="bt-play"></div>
                        </div>
                    </div>
                </div>
                <div class="separator">
                    <svg class="separator__svg" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                       <path d="M 100 100 V 10 L 0 100"/>
                       <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>
                      </svg>
                      <div style="height:30px; background: linear-gradient(#44A36F, white);margin-top:-6px;">
                      </div>
                  </div>
            </div>
            
        </section>
    <!---------------------------------------------------------------------------------------->
    <section id="featured"  class="content-section"  >
        <div class="section-heading">
            <h1><em > PME TEAM </em></h1>
        </div>
        <div class="section-content">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="image">
                        <img src="img/t5.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">	Dr Abu Saleh   </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>	Dr Abu Saleh   </h4>
                        <span> General Manager</span>
                        <p>Dr Abu Saleh is a concrete technologist with 21 years of techno-commercial experience in concrete and construction industries in the Middle East, Asia and Europe. Civil Engineer by training, he has obtained his PhD from the University of Bath UK on low carbon concrete for the Gulf region. He has also an MSc with distinction in Concrete Design and Environment from the University of Dundee, UK. Dr Abu Saleh is a Corporate Member of the Institute of Concrete Technology, UK.Worked with different multinational companies like BASF, Fosroc and Elkem, </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t6.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Nur Juherni  </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Nur Juherni </h4>
                        <span>Marketing & Administration</span>
                        <p> Nur graduated with MBA from University of the West of England (UWE), and has over 10 years of experience in various business areas including Business Management, Business Administration, Accounting & Finance, Marketing, Procurement, Human Resource Management, Quality Management, Events Coordination and International Communications. As a Business Administration and Marketing Manager, Nur is responsible for all aspects of Business Administration, Accounting & Finance, HR and Marketing for PUDLO Middle East. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t7.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Zakir Ali  </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Zakir Ali  </h4>
                        <span>Sales and Technical </span>
                        <p>Zakir has an MBA in Marketing and Finance.  Prior to joining Pudlo Middle East, Zakir has been working in the Readymix industry for more than 10 years back in India.  Since 2006, he has been holding sales position in various companies including RDC Concrete and RMC Readymix.
                            In PUDLO Middle East, Zakir is managing all aspects of Sales and Technical issues through building relationships with existing and potential customers.  His excellent team spirit and energy are part of his great character coupled with strong customer orientation.
                            </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t8.jpg"style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Bahadar Ali </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Bahadar Ali</h4>
                        <span>Operations </span>
                        <p>One of the key roles in the company, Operations, is handled by Bahadar Ali.  In this role, Bahadar ensures our daily Operations work is smooth and prompt.  In addition, Bahadar is also in-charge of Logistics and Health and Safety in PUDLO Middle East.
                            Bahadar has been working in UAE for more than 8 years in various Readymix companies. His valuable experience and determination has been the main ingredient to his good performance and positive contribution to PME.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <svg class="separator__svg" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg" >
               <path d="M 100 100 V 10 L 0 100"/>
               <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>
              </svg>
              <div style="height:30px; background: linear-gradient(#44A36F, white);margin-top:-6px;">
              </div>
          </div>
    </section>        
    
    
    
    
    
    
    <section id="blog" class="content-section "   >
        <div class="section-heading">
            <h1> <br><em>DAVIDBALL GROUP (DBG)</em> </h1>
        </div>
        <div class="section-content">
            <div class="tabs-content">
                <div class="wrapper">
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                      <li style="width: 20%;"><a href="#tab1" class="active">Built Environment</a></li>
                      <li style="width: 20%;"><a href="#tab2">Our Business</a></li>
                      <li style="width: 20%;"><a href="#tab3">Our Strength</a></li>
                      <li style="width: 20%;"><a href="#tab4">Our Passion </a></li>
                      <li style="width: 20%;"><a href="#tab5">Our Commitment </a></li>
                    </ul>
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Sustainable materials for the built environment</h4>
                                            <span></span>
                                            <p>David Ball Group embraces a 140 year legacy of materials innovation dedicated to the advancement of quality and performance in the challenging arenas of construction and industry.
                                            </p>
                                            <div class="accent-button button">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab2">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_3.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Engineering materials are our business</h4>
                                            <span></span>
                                            <p>IFor almost half a century, David Ball Specialist Sands has set the bar in the preparation and supply of British standard and unique, ultra-high quality sands for process testing and manufacturing. Quality that has travelled worldwide to meet the most exacting applications.</p>
                                            <div class="accent-button button">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab3">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_2.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Durable construction is our strength</h4>
                                            <span>26 May 2018</span>
                                            <p>Research & Development is at the heart of what the Group does, harnessing the power of chemistry to enhance the long-term performance of built structures with a dynamic brand portfolio.</p>
                                            <div class="accent-button button">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab4">
                            <ul>
                                <li>
                                    <div class="item" >
                                        <img src="img/blog_1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Concrete innovation is our passion</h4>
                                            <span></span>
                                            <p>In the 1990s, the performance of integrally waterproof concrete was taken to a new level by David Ball Group as it reformulated PUDLO, the world’s first commercial concrete waterproofing admixture introduced a century before. Re-engineered around modern architectural needs, its enhanced capabilities came with the first – and still unmatched – guarantee of the completed concrete structure.</p>
                                            <p>From <b>PUDLO’s</b> early use in the pioneering sanitation systems of Victorian London, its success story continues at the cutting edge in projects like London’s Crossrail and the celebrated Dubai Fountains.</p>
                                            <div class="accent-button button">
                                                <a href="#contact">Continue Reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>   
                            </ul>
                        </div>
                        <div id="tab5">
                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="img/blog_1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Sustainable progress is our commitment</h4>
                                            <span></span>
                                            <p>While being the world’s most used building material, modern concrete is not recognized as one of the most sustainable. Today’s cement and concrete industries have a consistently impressive record for carbon reduction marshalled by a strong commitment to their environmental responsibilities.</p>
                                            <div class="accent-button button">
                                            </div>
                                        </div>
                                    </div>
                                </li>   
                            </ul>
                        </div>
                    </section> 
                </div>
            </div>
        </div>
        <div class="separator">
            <svg class="separator__svg" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg" >
               <path d="M 100 100 V 10 L 0 100"/>
               <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>
              </svg>
              <div style="height:30px; background: linear-gradient(#44A36F, white);margin-top:-6px;">
              </div>
          </div>
    </section>
    <!------------------------------------------------------------------------>
    <section id="featured1" class="content-section"  >
        <div class="section-heading">
            <h1><em > MANAGEMENT  TEAM </em></h1>
        </div>
        <div class="section-content">
            <div class="owl-carousel owl-theme">
                <div class="item" >
                    <div class="image">
                        <img src="img/t1.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Wayne Eakers </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Wayne Eakers Group CEO  </h4>
                        <span>Wayne joined the Group as CEO in June 2016</span>
                        <p>A Chemical Engineer by background, he started his career with the chemicals arm of a multi-national oil and gas company. His early career was spent in operations management and engineering, and led to Chartered Engineer status. He worked in financial, commercial and procurement roles, his last role being business manager for a portfolio of solvents businesses.A desire to develop his career in a different environment and with new challenges </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t2.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Gary Brennand  </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Gary Brennand   </h4>
                        <span>Group Commercial Manager </span><br><br>
                        <p>Gary has a long and valuable experience of 19 years in various roles within the construction materials industry, specifically in the Cement and Readymix Concrete companies.  Graduated with an MBA from Loughborough University, his broad wealth of experience and knowledge covers almost all aspects of the business from Commercial, Marketing and Operational Management, right through to Strategic Planning and Change Management. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t3.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Dr Kostas Koutselas  </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Dr Kostas Koutselas   </h4>
                        <span>Group Technology Manager </span>
                        <p>Dr Kostas Koutselas joined David Ball Group Ltd as Group Technology Manager in 2017. With a background in technical research for Aggregate Industries, Unibeton and Fosroc, including international senior roles in Dubai and Qatar, Kostas has joined the DBG team to further develop our existing technologies and broaden our portfolio of innovative products for the future.Kostas has extensive technical experience in concrete and admixtures</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/t4.jpg" style="border-radius: 50%;" alt="">
                        <div class="featured-button button">
                            <a href="#projects">Professor Peter Hewlett  </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <h4>Professor Peter Hewlett </h4>
                        <span> Director of Research and Development  </span>
                        <p>A Chartered Chemist by qualification and a Chartered Scientist, Peter has been involved in materials research within the construction industry for 50 years, specializing in concrete, geotechnical materials and advanced adhesives. He was awarded an honorary Doctor of Laws degree for his work on admixtures and concrete durability at the University of Dundee, where he is also a visiting Industrial Professor in the Division of Civil Engineering. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <svg class="separator__svg" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1" xmlns="http://www.w3.org/2000/svg" >
               <path d="M 100 100 V 10 L 0 100"/>
               <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0"/>
              </svg>
              <div style="height:30px; background: linear-gradient(#44A36F, white);margin-top:-6px;">
              </div>
          </div>
    </section> 
    
            
    <!------------------------------------------------------------------------>
    <div  class="content-section"  >
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h1><em>AFFILIATIONS</em> </h1>
                </div>
                <div class="text-content" style="text-align: center;">
                    <p>Links to these websites:</p>
                </div>
                <div class="accent-button button" style="text-align: center;" >
                    <a href="http://www.davidballgroup.co.uk/" target="_blank" > CEMFREE </a>
                
                        <a href="http://www.davidballgroup.co.uk/" target="_blank" > PUDLO UK</a>
                
                        <a href="http://www.davidballgroup.co.uk/" target="_blank" >DAVIDBALL GROUP LTD  </a>
                
                       <a href="http://www.davidballgroup.co.uk/" target="_blank" >DAVIDBALL SPECIALIST SANDS LTD </a>
                </div>
            </div>
        </div>
    </div>    
    <div class="live-chat-widget">
        <button class="live-chat-button" href="#">
            <a target="_blank" href="https://www.linkedin.com/in/harold-solomon-a62a0676/">
                <img src="img/linkedin.png" alt="Responsive image" width="80px" />
            </a>
            
          <svg>
            <g>
              <path d="M19.6906034,42 L16.0186034,42 L16.0186034,38.191 C16.8225403,39.8075313 18.1045912,41.1374148 19.6906034,42 L19.6906034,42 Z M32.8906034,28.823 L24.1056034,28.823 C21.2769557,28.8623314 19.0045252,31.1665788 19.0045252,33.9955 C19.0045252,36.8244212 21.2769557,39.1286686 24.1056034,39.168 L32.8906034,39.168 C35.7192772,39.1297774 37.9926152,36.8264042 37.993709,33.9974724 C37.9948028,31.1685406 35.7232468,28.86341 32.8946034,28.823 L32.8906034,28.823 Z M33.0956034,41.987 L23.9026034,41.987 C19.5238896,41.9380177 16,38.3744878 16,33.9955 C16,29.6165122 19.5238896,26.0529823 23.9026034,26.004 L33.0956034,26.004 C37.4743172,26.0529823 40.9982068,29.6165122 40.9982068,33.9955 C40.9982068,38.3744878 37.4743172,41.9380177 33.0956034,41.987 L33.0956034,41.987 L33.0956034,41.987 Z"/>
              <path d="M43.3348891,38 L47.002,38 L47.002,34.1886179 C46.1991335,35.8061602 44.9187896,37.1368753 43.3348891,38 Z M41.2376851,37.6797999 C41.736668,36.5164423 41.9948731,35.2637362 41.9966732,33.9974984 C42.1202003,29.1577393 38.308152,25.1322451 33.4780304,25.0018762 L23.75,25.0018762 C25.2367988,23.1081124 27.5080185,22.0018071 29.9127837,22 L39.0935437,22 C43.0403337,22.0588384 46.3527008,24.9968079 46.8897425,28.9149928 C47.4267843,32.8331777 45.027519,36.5570769 41.2426784,37.6797999 L41.2376851,37.6797999 Z" opacity=".75"/>
            </g>
          </svg>
        </button>
        <div class="live-chat-tooltip">
          <strong>LinkedIn</strong><br />
          
        </div>
      </div>   
</div>