<nav class="navbar navbar-expand-md animated fadeInDown navbar-light fixed-top {{className}}">
    <!-- <img src="./../.././../assets/images/background.png" class="d-inline-block align-top img-fluid nav-background" alt="" loading="lazy"> -->
    <a class="navbar-brand" href="/">
      <img src="./../.././../assets/images/euro_logo.png" class="d-inline-block align-top img-fluid" alt="" loading="lazy">
      <!-- <span>Euro Konkrete</span> -->
    </a>
    <h4 class=" text-center tag-line">
        <b>Admixing <span class="values">"Values"</span> to Concrete</b>
    </h4>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav ml-auto">
            <li *ngFor="let header of headers" class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show" [ngClass]="{'dropdown': !header.url}">
                <a *ngIf="header.url" class="nav-link" routerLink={{header.url}} routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                    <span>{{header.name}}</span>
                </a>
                <a *ngIf="!header.url" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>{{header.name}}</span></a>
                <ul [hidden]="header.url" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li *ngFor="let subHeader of header.subChild">
                        <a class="dropdown-item" routerLink={{subHeader.url}} routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{subHeader.name}}</a>
                    </li>
                </ul>                
            </li>
        </ul>                
    </div>
</nav>