.show {
    visibility: visible !important;
}

.hide {
    visibility: hidden;
}

.dropdown {
    .dropdown-menu {
        width: 250px;
        position: absolute;
        transform: translate3d(-117px, 45px, 0px) !important;
        top: -2px;
        left: 0px;
        will-change: transform;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown-divider {
        border-top-color: #dfdfdf;
    }
}