.carousel-inner {
    min-width: 100%;
    min-height: 100vh;
    height: 100vh;
    .carousel-item.c-i-1 img,
    .carousel-item.c-i-2 img {
        animation: zoomin 12s ease-in-out infinite alternate;
        -webkit-animation: zoomin 12s ease-in-out infinite alternate;
    }
    .carousel-item.c-i-3 img {
        animation: zoomout 12s ease-out infinite alternate;
        -webkit-animation: zoomout 12s ease-out infinite alternate;
    }
}

.carousel-control-prev {
    left: unset;
    outline: none;
    display: block;
    position: absolute;
    top: 130px;
    right: 120px;
    width: 50px;
    height: 50px;
    background: black !important;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 32px/50px "FontAwesome";
    color: #FFF !important;
    z-index: 5;
}

.carousel-control-next {
    outline: none;
    display: inline-block;
    position: absolute;
    top: 130px;
    right: 60px;
    width: 50px;
    height: 50px;
    background: black !important;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 32px/50px FontAwesome;
    color: #FFF;
    color: #FFF !important;
}

.carousel-caption {
    text-align: right;
    position: absolute;
    z-index: 10;
    top: 35vh;
    right: 15%;
    // -webkit-transform: translateY(-50%);
    // -moz-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // -o-transform: translateY(-50%);
    // transform: translateY(-50%);
    display: inline-block;
    h1 {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 48px;
        color: #fff;
        font-weight: 700;
    }

}