.carousel-inner {
    min-width: 100%;
    min-height: 100vh;
    height: 100vh;
    .carousel-item.c-i-1 img,
    .carousel-item.c-i-2 img {
        animation: zoomin 12s ease-in-out infinite alternate;
        -webkit-animation: zoomin 12s ease-in-out infinite alternate;
    }
    .carousel-item.c-i-3 img {
        animation: zoomout 12s ease-out infinite alternate;
        -webkit-animation: zoomout 12s ease-out infinite alternate;
    }
}