
<div class="wrapper">
    <!-- HEADER -->
    <header></header>
    <!-- ḤEADER -->
    <!-- CONTENT -->
    <div id="content" class="container">
        <router-outlet>
        </router-outlet>
    </div>
    <!-- CONTENT -->
    <!-- FOOTER -->
    <nav class="navbar fixed-bottom navbar-expand-md navbar-light footer">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <p>Copyright © 2020. All rights reserved by Euro Konkrete.</p>
        </div>
    </nav>
    <!--FOOTER  -->
</div>
  
