
<div class="wrapper" (window:scroll)="onWindowScroll($event)">
    <!-- HEADER --> 
    <header [className]="className"></header>
    <!-- ḤEADER -->
    <!-- CONTENT -->
    <div id="content" class="container-fluid">
        <router-outlet>
        </router-outlet>
    </div>
    <!-- CONTENT -->
    <!-- FOOTER -->
    <nav class="navbar fixed-bottom pos-absolute navbar-expand-md navbar-light footer">
        <p>Copyright © 2020. All rights reserved by Euro Konkrete.</p>
    </nav>
    <!--FOOTER  -->
</div>
  
