
#projects .masonry .item {
  &:hover {
    img {
      opacity: 0.4;
    }    
  }
}

@media screen and (max-width: 576px) {
  
  .mobile-nav {
    color: #fff;
    height: 48px;
    width: 100%;
    float: left;
    position: fixed;
    background-color: rgb(29 29 29 / 76%);
    z-index: 10;
    .logo {
      position: absolute;
    }
    .navbar-toggle {
      left: unset;
      right: 0%;
      top: 50%;
      margin: 0px;
      background: black;
      span {
        background-color: #fff !important;
      }
    }

    #main-nav .product-dropdown ul {
      transform: translate3d(0px, 40px, 0px) !important;
      .dropdown-header {
          display: block;
          padding: 0 1.5rem;
          margin-bottom: 0;
          font-size: 1.5rem;
          color: #ffffff;
          white-space: nowrap;
      }
    }
  }
  #home {
    .carousel {
      .carousel-item img {
        height: 100vh;
        min-width: 100%;
      }
    }
  }

  #pudlocwp {
    .content-section .row .column1 {
      width: 50%;
      .card1 {
        height: 78px;
      }
    }
  }

  #microscopeimaging {
    img {
      margin-bottom: 10px;
    }
  }

  #downloads {
    padding: 22px 0px 70px 0px;
    .accent-button a {
      width: 180px;
      margin-bottom: 5px;
    }
    br {
      display: none;
    }
  }

  .content-section {
    width: 100%;
  }

  .footer {
    padding-top: 5px;
    margin-top: 42px;
    height: 42px;
    p {
      font-size: 10px;
      vertical-align: middle;
      line-height: 14px;
    }
  }

  .live-chat-widget {
    right: 20px;
    bottom: 34px;
  }
}


@media screen and (min-width: 577px) {
  .carousel-control-prev {
    left: unset;
    outline: none;
    display: block;
    position: absolute;
    top: 130px;
    right: 120px;
    width: 50px;
    height: 50px;
    background: black !important;
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 32px/50px "FontAwesome";
    color: #FFF !important;
    z-index: 5;
  }

  .carousel-control-next {
      outline: none;
      display: inline-block;
      position: absolute;
      top: 130px;
      right: 60px;
      width: 50px;
      height: 50px;
      background: black !important;
      border: 0 none;
      margin-top: -22.5px;
      text-align: center;
      font: 32px/50px FontAwesome;
      color: #FFF;
      color: #FFF !important;
  }

  .carousel-caption {
      text-align: right;
      position: absolute;
      z-index: 10;
      top: 35vh;
      right: 15%;
      display: inline-block;
      h1 {
          margin-top: 0px;
          margin-bottom: 15px;
          font-size: 48px;
          color: #fff;
          font-weight: 700;
      }
  
  }
}