/// Mixin to customize scrollbars

/// @author Anurag Gupta
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background [mix($primary, white, 75%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background: mix($foreground-color, $white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        // border-radius: 30px;
    }
  
    ::-webkit-scrollbar-track {
        background: $background;
        // border-radius: 30px;
    }
  
    // For Internet Explorer
    router-outlet {
        overflow-y: scroll;
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background;
    }
  }
  @include scrollbars(1em, $slate-gray);

