

// initial theme colors
$base:#333333 !default;
$brand-color: #0070ad;
$body-background: #ffffff;
$nav-background: rgba(255, 255, 255, 0.85);
$sky-blue: #1bb1e8;
$slate-gray: slategray;
$para-color: #eae6e6;
$dark-gray: #545b62;
$btn-sec-hov: $dark-gray;
$para-color: #eae6e6;

$link: #0070ad;
$link-hover: #2b0a3d;
$state-active: #d4d4d4;
$green: #008000;
$navy-blue: #000080;
$white: #fff;
$sky-blue: #1bb1e8;
$black: #000;
$btn-sec-hov: transparent;
$light-gray: #c1c1c1;
$content-color: #333333;
$highlight: $link;
$btn-pri-hov: $link-hover;


/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;