@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header',
    'components/about',
    'components/contact',
    'components/home';

@media screen and (max-width: 375px){
    .left{
        padding-top: 20%;
    }
    .navbar-brand{
        font-size: 22px !important;
    }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 767px){
    .left{
        text-align: left;
        padding-top: 50%;
    }
    // #content{
    //     padding: 5.5rem 0;
    // }
    
    .navbar.navbar-light {
        padding: 0;
        .navbar-brand{
            padding: 1.5rem 0px 1.5rem 10px;
            margin: 0;
        }
        .navbar-toggler{
            margin-right: 1.5rem;
            padding: 8px;
        }
        .navbar-nav .nav-item{
            &:first-child{
                border-top: 1px solid #dfdfdf;
            }
            width: 100%;
            .nav-link{
                border-bottom: 1px solid #dfdfdf;
                padding: 1.5rem 2.5rem;
                width: 100%;
                margin: 0;
            }
        }
        ul.ml-auto{
            margin: 0;
            .nav-link {
                color: $link !important;
                background: rgba(255, 255, 255, 0.884)
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar{
        background-color: $nav-background;
        z-index: 9;
        .navbar-brand {
          letter-spacing: 3px;
        }
    }

    .hidden-sm {
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar.fixed-bottom .navbar-collapse{
        display: inline-block;
        z-index: 1;
        visibility: visible;
        opacity: 10;
    }

    .navbar-nav{
        width: 100%;
        display: inline-block;
        .nav-item{
            //width: 33%;
            display: inline-block;
        }
    }
    
    .fixed-top{
        position: fixed;
        top: auto;
    }
}
@media screen and (min-width: 768px) {
    h1{
        font-size: 46px;
    }

    h3 {
        font-size: 16px;
    }

    #home{
        padding-top: 104px;
    }
    
    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12%;
    }

    .btn-secondary {
        margin-left: 20px;
    }
    
    .homepage {
        padding: 16px 30px;
        .btn {
            margin-top: 30px;
        }
    }

    .btn-secondary:focus, .btn-secondary.focus{
        box-shadow: 0 0 0 0.1rem $btn-sec-hov;
    }
    .btn-primary:focus, .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus{
        box-shadow: 0 0 0 0.1rem $btn-pri-hov;
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
    }
    ul.ml-auto{
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    h1{
        letter-spacing: 1px;
    }
    
    .about {
        margin-bottom: 0;
    }

    .hidden-lg{
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    // .navbar.navbar-light {
    //     padding: 1rem 4rem;
    // }

    .accordion{
        .card{
            display: inline-block;
            width: 100%;
            .collapse.show,
            .card-header{
                display: -webkit-inline-flex;
                display: inline-flex;
            }
            .card-header{
                width: 20%;
            }
            .collapse.show{
                width: 80%;
                padding: 0 20px;
            }
            .collapsing{
                display: none;
            }
        }
    }
}
