@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header',
    'components/about',
    'components/contact',
    'components/home';

@media screen and (max-width: 375px){

}

@media screen and (max-width: 576px){
    .navbar-brand{
        max-width: 40% !important;
        img {            
            height: 66px !important;
            width: 100% !important;
        }
    }

    // .address {
    //     text-align: left !important;
    // }
}

@media screen and (max-width: 767px){
    .navbar.navbar-light {
        padding: 0;
        .navbar-brand{
            margin-right: 0;
        }
        .tag-line{
            font-size: 0.5rem;
            margin: 0 auto;
        }
        .navbar-toggler{
            margin-right: 1.5rem;
            padding: 8px;
        }
        .navbar-nav .nav-item{
            &:first-child{
                border-top: 1px solid #dfdfdf;
            }
            width: 100%;
            .nav-link{
                border-bottom: 1px solid #dfdfdf;
                padding: 1.5rem 2.5rem;
                width: 100%;
                margin: 0;
            }
        }
        ul.ml-auto{
            margin: 0;
            .nav-link {
                color: #000000ab !important;
                background: rgba(255, 255, 255, 0.884)
            }
        }
    }

    #map{
        height: 230px;
    }

    #content{
        padding-top: 24%;
        margin-bottom: 5rem;
    }
    
    #about,
    #contact {
        border: none;
        width: 100% !important;
        margin-top: 28% !important;
        padding: 8px !important;
        h3 {
            font-size: 1.4rem !important;
        }
    }

    // .address {
    //     text-align: left !important;
    // }

    p{
        margin-bottom: 5px !important;
    }

    .footer{
        p {
            font-size: 8px !important;
        }
        .p-t{
            padding-top: 5%;
        }
        position: fixed; 
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    .col-sm{
        padding: 0px !important;
    }

    #contact .jumbotron{
        padding: 5px;
    }
    body {
        font-size: 14px !important;
    }
    
    .company-name{
        font-size: 13px !important;
    }
}

@media screen and (max-width: 991px) {
    .navbar{
        background-color: $nav-background;
        z-index: 9;
    }

    .hidden-sm {
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar.fixed-bottom .navbar-collapse{
        display: inline-block;
        z-index: 1;
        visibility: visible;
        opacity: 10;
    }

    .navbar-nav{
        width: 100%;
        display: inline-block;
        .nav-item{
            //width: 33%;
            display: inline-block;
        }
    }
    
    .fixed-top{
        position: fixed;
        top: auto;
    }
}
@media screen and (min-width: 768px) {
    

    .footer{
        position: relative !important;
    }

    h1{
        font-size: 46px;
    }

    h3 {
        font-size: 16px;
    }

    #home{
        padding-top: 6%;
    }

    .btn-secondary {
        margin-left: 20px;
    }
    
    .homepage {
        padding: 16px 30px;
        .btn {
            margin-top: 30px;
        }
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    ul.ml-auto{
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    h1{
        letter-spacing: 1px;
    }
    
    .about {
        margin-bottom: 0;
    }

    .hidden-lg{
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    // .navbar.navbar-light {
    //     padding: 1rem 4rem;
    // }

    .accordion{
        .card{
            display: inline-block;
            width: 100%;
            .collapse.show,
            .card-header{
                display: -webkit-inline-flex;
                display: inline-flex;
            }
            .card-header{
                width: 20%;
            }
            .collapse.show{
                width: 80%;
                padding: 0 20px;
            }
            .collapsing{
                display: none;
            }
        }
    }
}
